body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f5f5f7;
  text-align: center;
}

.container {
  margin-top: 100px;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 12px;
  background: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.8;
}

.dashboard {
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  margin: 15px auto;
  width: 80%;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  font-size: 18px;
}

.logout {
  background: #ff3b30;
  margin-top: 20px;
}